.card-carro {
    width: 100%;
    max-width: 280px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    aspect-ratio: 6/10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.carro-del{
    height: 8%;
    width: 100%;
    font-size: 1.1rem;
    padding:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.card-carro .card-img-top {
    width: 100%;
    height: 40%;
    background-color: #ebebeb;
    border-bottom: 1px solid black;
    object-fit: contain;
    display: block;
    padding: 10px;
}

.card-carro img {
    border-radius: 8px 8px 0 0;
    
}
.card-body{
  
    position: relative;
   
}
.card-body>div{
    position:absolute;
    bottom:10px;

}
.card-carro .card-body {
    padding: 15px;
    margin-top: auto;
}


.card-body .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    
   
}

.card-carro .card-text {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.4;
}
.card-carro .card-text {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.4;
}
@media (max-width: 768px) {
    .card-carro {
        max-width: 250px;
    }
    .carro-del{
        font-size: 1rem;
    }
    .card-carro .card-title {
        font-size: 1.3rem;
    }

    .card-carro .card-text {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .card-carro {
        max-width: 200px;
    }

    .card-carro .card-title {
        font-size: 1rem;
    }
    .carro-del{
        
        font-size: 0.85rem;
    }
    .card-carro .card-text {
        font-size: 0.85rem;
    }
}
