*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #f7f7f7 ;
    position:relative;
}
footer{
    position:sticky;
    bottom:0px;
    height: 5vh;
}

html {
    font-size: 16px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

@media (max-width: 1024px) and (min-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.4rem;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }
}
footer{
    height: 5vh; 
    width: 100%;
}